 /******************************************************************

Stylesheet: Mixins & Constants Stylesheet

This is where you can take advantage of Sass' great features:
Mixins & Constants.

******************************************************************/

/*********************
TOOLS
*********************/


/*********************
COLORS
*********************/
$black: #000000;
$oil: #32323b;
$gray: #d4d4ce;
$light-gray: #efefef;
$white: #ffffff;
$white_50: rgba(255, 255, 255, 0.5);
$blue: #287094;
$off_white: #f6f6f6;
$navy: #023246;
$teal: #307860;



/*********************
TYPOGRAPHY
*********************/
@font-face {
	font-family: 'oxygen';
	src: url('../fonts/Oxygen-Regular.ttf') format('truetype');
}
$oxygen: 'oxygen',  Helvetica, Arial, sans-serif;
@font-face {
	font-family: 'oxygen-light';
	src: url('../fonts/Oxygen-Light.ttf') format('truetype');
}
$oxygen_light: 'oxygen-light',  Helvetica, Arial, sans-serif;
@font-face {
	font-family: 'oxygen-bold';
	src: url('../fonts/Oxygen-Bold.ttf') format('truetype');
}
$oxygen_bold: 'oxygen-bold',  Helvetica, Arial, sans-serif;


@font-face {
	font-family: 'josefinslab';
	src: url('../fonts/JosefinSlab-Regular.ttf') format('truetype');
}
$josefinslab: 'josefinslab',  Helvetica, Arial, serif;
@font-face {
	font-family: 'josefinslabbold';
	src: url('../fonts/JosefinSlab-Bold.ttf') format('truetype');
}
$josefinslab_bold: 'josefinslabbold',  Helvetica, Arial, serif;


@font-face {
    font-family: 'roboto_condensedbold';
    src: url('../fonts/robotocondensed-bold.eot');
    src: url('../fonts/robotocondensed-bold.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-bold.woff2') format('woff2'),
         url('../fonts/robotocondensed-bold.woff') format('woff'),
         url('../fonts/robotocondensed-bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$roboto_bold: 'roboto_condensedbold', Helvetica, Arial, sans-serif;

@font-face {
    font-family: 'roboto_condensedregular';
    src: url('../fonts/robotocondensed-regular.eot');
    src: url('../fonts/robotocondensed-regular.eot?#iefix') format('embedded-opentype'),
         url('../fonts/robotocondensed-regular.woff2') format('woff2'),
         url('../fonts/robotocondensed-regular.woff') format('woff'),
         url('../fonts/robotocondensed-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
$roboto: 'roboto_condensedregular', Helvetica, Arial, sans-serif;

//Use the best ampersand - http://simplebits.com/notebook/2008/08/14/ampersands-2/
span.amp {
  font-family: Baskerville,'Goudy Old Style',Palatino,'Book Antiqua',serif !important;
  font-style: italic;
}

/*********************
CSS3 GRADIENTS.
*********************/
@mixin css-gradient($from: #dfdfdf, $to: #f8f8f8) {
	background-color: $to;
	background-image: -webkit-gradient(linear, left top, left bottom, from($from), to($to));
	background-image: -webkit-linear-gradient(top, $from, $to);
	background-image: -moz-linear-gradient(top, $from, $to);
	background-image: -o-linear-gradient(top, $from, $to);
	background-image: linear-gradient(to bottom, $from, $to);
}


