@import "mixins";
@import "../../../rufio/vendor/foundation-sites/scss/foundation";
@include foundation-button;

body {
	font-family: 'source_sans_pro';
	line-height: 1rem;
}

#login {
	padding-top: 15%;
}

.login {
	form {
		padding: 1rem 1rem 2rem 1rem;
		margin: 0;
	}
	label {
		font-size: 16px;
	}
	h1 a {
		background: url(../images/redfish-logo.png) no-repeat center center;
		width: 120px;
		height: 120px;
		text-indent: -9999px;
		overflow: hidden;
		display: block;
		background-size: cover;
	}
	#nav, #backtoblog {
		width: 50%;
		text-align: center;
		padding: 1rem 0;
		margin: 0;
		float: left;
		a {
			@extend .small;
			@extend .button;
			background-color: rgb(180, 180, 180);
		}
	}
}

#wp-submit {
	background-color: rgb(102, 155, 208);
	padding: 1.25rem 2rem;
	line-height: 0;
	text-shadow: none;
	font-family: 'source_sans_pro', arial;
	font-size: 1rem;
	border: 0;
	box-shadow: none;
	border-radius: 0;
}