.footer {
	background-color: $gray;
	padding-top: 15px;
	.logo {
		img {
			max-height: 64px;
			display: block;
			margin: 0 auto;
		}
	}
	.social {
		text-align: center;
		margin: 10px 0;
		.social-ftr {
			max-height: 44px;
			transition: .3s;
			&:hover {
				max-height: 48px;
			}
		}
	}
	.copy {
		text-align: center;
		margin-top: 20px;
		p {
			font-size: 12px;
		}
	}
}
@media #{$medium-up} {
}
@media #{$large-up} {
	.footer {
		padding: 30px 0 5px;
	}
}