.button {
	border-radius: 4px;
}
.teal-button {
	background-color: $teal;
	&:hover {
		background: $blue;
	}
}
.navy-button {
	background-color: $navy;
	&:hover {
		background-color: $light-gray;
		color: $oil;
	}
}
@media #{$medium-up} {

}
@media #{$large-up} {
		.vert-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
}

/*
.vert-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}
*/
.vert-align-span {
    display: block;
    position: relative;
    top: 50%;
    transform: translateY(-50%); 
}

.phone-email {
	.phone-link, .email-link {
		background-repeat: no-repeat;
		background-position: left center;
		background-size: 20px 20px;
		color: $navy;
		padding: 5px 0 5px 30px;
		margin: 5px 0 2px 0;
		display: block;
		font-size: 13px;
		transition: .3s;
		&:hover {
			color: $blue;
			padding: 5px 0 5px 26px;
		}		
	}
	.phone-link {
		background-image: url('../images/icn-phone.png');
	}
	.email-link {
		background-image: url('../images/icn-email.png');
	}
}

.wpforms-container-full .wpforms-form {
	.wpforms-submit-container {	
		.teal-button {
			border-radius: 4px;
			background-color: $teal !important;
			color: $white;
			border: none;
			font-family: $oxygen;
			font-weight: bold;
			font-size: .9rem;
			transition: .3s;
			&:hover {
				background: $blue !important;
				border: none;
			}
		}
	}
}