.header .sticky.is-stuck {
	z-index: 3;
}
.mobile-menu {
	.float-left {float: left;}
	.logo {
		padding-bottom: 8px;
		img { 
		max-height: 64px;
		}
	}
	.mmenu {
		ul {
			margin: 0;
			li {
				text-align: center;
				display: block;
				a {
					color: $white;
					font-family: $oxygen_bold;
					text-transform: uppercase;
				}
			}
			&.submenu {
				background-color: $gray;
			}
		}
		.top-bar {
			.submenu {
				margin: 0;
				li {
					display: block;
				}
			}
		}
	}
	
	.hamburger {
		padding: 5px 16px !important;
		display: inline-block;
		cursor: pointer;
		transition-property: opacity, filter;
		transition-duration: 0.2s;
		transition-timing-function: linear;
		font: inherit;
		color: inherit;
		text-transform: none;
		//background-color: $bb_black;
		border-radius: 2px;
		border: 0;
		margin: 3px 0 0 !important;
		outline: none;
		overflow: visible;
		z-index: 2;
		position: absolute;
		top: 0;
		right: 0;
	}
	.hamburger-box {
		width: 23px;
		height: 17px;
		display: inline-block;
		position: relative;
	}
	.hamburger-inner {
		display: block;
		top: 50%;
		margin-top: -2px;
	}
	.hamburger-inner, .hamburger-inner::before, .hamburger-inner::after {
		width: 23px;
		height: 3px;
		background-color: $white;
		border-radius: 1px;
		position: absolute;
		transition-property: transform;
		transition-duration: 0.2s;
		transition-timing-function: ease;
	}
	.hamburger-inner::before, .hamburger-inner::after {
		content: "";
		display: block;
	}
	.hamburger-inner::before {
		top: -7px;
	}
	.hamburger-inner::after {
		bottom: -7px;
	}
	.hamburger-collapse .hamburger-inner {
		top: auto;
		bottom: -2px;
		transition-duration: 0.2s;
		transition-delay: 0.1s;
		transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	.hamburger-collapse .hamburger-inner::after {
		top: -14px;
		transition: top 0.2s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), opacity 0.1s linear;
	}
	.hamburger-collapse .hamburger-inner::before {
		transition: top 0.12s 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1), transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
	}
	.hamburger-collapse.is-active .hamburger-inner {
		transform: translate3d(0, -7px, 0) rotate(-45deg);
		transition-delay: 0.2s;
		transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
	}
	.hamburger-collapse.is-active .hamburger-inner::after {
		top: 0;
		opacity: 0;
		transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), opacity 0.1s 0.22s linear;
	}
	.hamburger-collapse.is-active .hamburger-inner::before {
		top: 0;
		transform: rotate(-90deg);
		transition: top 0.1s 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333), transform 0.13s 0.25s cubic-bezier(0.215, 0.61, 0.355, 1);
	}
}

.desktop-menu {
	
	.logo {
		position: relative;
		width: 140px;
		height: 50px;
		a {
			position: absolute;
		height: 150px;
		width: 150px;
			img {
				position: absolute;
				background-color: $gray;
				padding: 20px;
				border-radius: 0 0 50% 50%;	
			}
		}
	}
	.menu {
		text-align: center;
		padding: 10px 0;
		ul {
			display: inline-block;
			li {
				a {
					color: $navy;
					text-transform: uppercase;
					transition: .3s;
					font-weight: bold;
					&:hover {
						color: $teal;
					}
				}
			}
		}
	}
}
@media #{$medium-up} {}
@media #{$large-up} {}