.home-hero {
	text-align: center;
	.hh-slider {
		.hh-slide {
			background-position: center center;
			background-size: cover;
			padding: 30px 0;
			position: relative;
			.overlay {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 0;
				top: 0;
				background-color: rgba(255, 255, 255, .4);
			}
			.con-con {
				position: relative;
				z-index: 2;
			}
			h1 {
				color: $oil;
			}
			h4 {
				color: $oil;
			}
		}
	}
	.slick-dots {
		bottom: 0px;
	}
	.slick-dotted.slick-slider {
			margin-bottom: 0;	
	}	
}
@media #{$medium-up} {
	.home-hero {
		.hh-slider {
			.hh-slide {
				padding: 50px 0;
			}
		}
		
	}
}
@media #{$large-up} {
	.home-hero {
		.hh-slider {
			margin-bottom: 0;
			.hh-slide {
				padding: 80px;
			}
		}

	}
}

.hpcontent {
	background-color: $off_white;
	padding: 30px 0;
	.wysiwyg-content {
		max-width: 680px;
		margin: 0 auto;
		padding: 0 20px;
	}
}
@media #{$medium-up} {}
@media #{$large-up} {}

.service-blocks {
	.hp-slider-block {
		padding: 0;
		text-align: center;
		.ser-block {
			background-position: center center;
			background-size: cover;
			padding: 30px 0;
			.textcontain {
				background-color: $white_50;
				padding: 20px;
				h2 {
					margin: 0;
				}
				p {
					
				}
			}
		}
	}
	.hp-block {
		padding: 0;
		text-align: center;
		.ser-block {
			background-position: center center;
			background-size: cover;
			padding: 30px 0;
			.textcontain {
				background-color: $white_50;
				padding: 20px;
				h2 {
					margin: 0;
				}
				p {
					
				}
			}
		}
	}
}
@media #{$medium-up} {}
@media #{$large-up} {
	.service-blocks {
		.hp-block, .hp-slider-block {
			.ser-block {
				padding: 80px;
			}
		}
	}
}

.cta {
	background-color: $navy;
	padding: 15px;
	text-align: center;
	h2 {
		color: $light_gray;
	}
	h5 {
		color: $light_gray;
		padding: 10px;
	}
}
@media #{$medium-up} {
	.cta {
		padding: 25px;
	}
}
@media #{$large-up} {
	.cta {
		padding: 40px;
	}
}

.home-gallery {
	background-color: $off_white;
	.heading {
		text-align: center;
		height: 100%;
		h3 {
			padding: 15px;
			max-width: 450px;
			margin: 0 auto;
		}
	}
	.images {
		padding: 0;
		.imgbg {
			min-height: 200px;
			background-position: center center;
			background-size: cover;
		}
		.top-left {
			padding: 0;
		}
		.top-right {
			padding: 0;
			.trtop, .trbot {
				padding: 0;
			}
		}
		.bot-left, .bot-right {
			padding: 0;
		}
	}
}
@media #{$medium-up} {
	.home-gallery {
		
	}
}
@media #{$large-up} {
	.home-gallery {
		.heading {

		}
	}
}

.preftr-cta {
	padding: 15px 0;
	text-align: center;
	background-color: $teal;
	h2, h5 {
		color: $white;
	}
	h5 {
		padding: 15px;
	}
}
@media #{$medium-up} {
	.preftr-cta {
		padding: 20px;
	}
}
@media #{$large-up} {
	.preftr-cta {
		padding: 40px;
	}
}


.inner-hero {
	background-position: center center;
	background-size: cover;
	padding: 30px 0;
	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		background-color: rgba(255, 255, 255, .4);
	}
	.box {
		position: relative;
		z-index: 2;			
		h2 {
			text-align: center;
			color: $oil;
		}
	}	
}
@media #{$medium-up} {
	.inner-hero {
		padding: 30px 15px;
	}
}
@media #{$large-up} {
	.inner-hero {
		padding: 50px 15px;
	}
}


.gallery {
	.filters {
		padding-top: 15px;
		.gallery-filter {
			list-style-type: none;
			margin: 0;
			text-align: center;
			li {
				display: inline;
				text-align: center;
				.button {
					
					span {
						
					}
				}
			}
		}
	}
	.grid {
		.gallery-grid {
			.gallery-item-wrap {
				padding: 10px;
			}
		}
	}
}
@media #{$medium-up} {}
@media #{$large-up} {
	.gallery {
		.filters {
			.gallery-filter {
				margin: 20px 0;
			}
		}
	}
}

.wysiwyg-content {
	padding: 15px;
	.alignright {float: right;}
	.alignleft {float: left;}
	p {margin: 10px 0px 5px;}
	img {padding: 15px;}
}
@media #{$medium-up} {
	.wysiwyg-content {
		padding: 20px;
	}
}
@media #{$large-up} {
	.wysiwyg-content {
		padding: 40px 15px;
	}
}



.project-modal {
	.modalcontent {
		.img {
			.modal-gallery {
				.modal-slides {
					img {
						margin: 0 auto;
					}
				}
			}
			.modal-nav {
				.modal-gal-nav {
					margin: 0;
				}
			}
		}
	}
}
@media #{$large-up} {
	.project-modal {
		.modalcontent {
			.img {
				.modal-gallery {.modal-slides img {
	//			max-height: 600px;
					
				}}
			}
		}
	}
}	